__merge__: ../../api/comp_method.yaml
functionality:
  name: "procrustes"
  info:
    label: Procrustes
    summary: |
      "Procrustes superimposition embeds cellular data from each modality into a common space."
    description: | 
        "Procrustes superimposition embeds cellular data from each modality into a common space by aligning the 100-dimensional SVD embeddings to one another by using an isomorphic transformation that minimizes the root mean squared distance between points. The unmodified SVD embedding and the transformed second modality are used as output for the task."
    v1:
      path: openproblems/tasks/matching_modalities/methods/procrustes.py
      commit: b3456fd73c04c28516f6df34c57e6e3e8b0dab32
    reference: gower1975generalized
    documentation_url: https://docs.scipy.org/doc/scipy/reference/generated/scipy.spatial.procrustes.html
    repository_url: https://github.com/scipy/scipy
    preferred_normalization: "log_cp10k"
  resources:
    - type: python_script
      path: script.py
platforms:
  - type: docker
    image: ghcr.io/openproblems-bio/base_python:1.0.4
    setup:
      - type: python
        pypi: 
          - scipy
  - type: nextflow
    directives:
      label: [midtime, midmem, midcpu]