git+https://github.com/BayraktarLab/cell2location.git@47c8d6dc90dd3f1ab639861e8617c6ef0b62bb89
git+https://github.com/czbiohub/molecular-cross-validation@04d9df0
git+https://github.com/michalk8/neuralee@8946abf  # contains gradient error fix
jax==0.4.3
jaxlib==0.3.25
pymde==0.1.18
scalex==1.0.2
scikit-misc==0.1.*
scvi-tools~=0.19
tangram-sc==1.0.*
torch==1.12.*
xgboost==1.6.*
