__merge__: ../../api/comp_metric.yaml
functionality:
  name: "density_preservation"
  info:
    metrics:
      - name: density_preservation
        label: Density preservation
        summary: "Similarity between local densities in the high-dimensional data and the reduced data."
        description: |
          "Similarity between local densities in the high-dimensional data and the reduced data.
          This is computed as the pearson correlation of local radii with the local radii in the original data space."
        reference: narayan2021assessing
        min: -1
        max: 1
        maximize: true
        v1:
          path: openproblems/tasks/dimensionality_reduction/metrics/density.py 
          commit: b3456fd73c04c28516f6df34c57e6e3e8b0dab32
  arguments:
    - name: "--n_neighbors"
      type: integer
      default: 30
      description: "Number of neighbors to use for density estimation."
    - name: "--seed"
      type: integer
      default: 42
      description: "Random seed."
  resources:
    - type: python_script
      path: script.py
platforms:
  - type: docker
    image: ghcr.io/openproblems-bio/base_python:1.0.2
    setup:
      - type: python
        packages:
          - scipy
          - numpy
          - umap-learn
          - pynndescent~=0.5.11
  - type: nextflow
    directives: 
      label: [ "midtime", lowmem, midcpu ]
