process {
  withLabel: lowmem { memory = 5.Gb }
  withLabel: lowcpu { cpus = 2 }
  withLabel: midmem { memory = 5.Gb }
  withLabel: midcpu { cpus = 2 }
  withLabel: highmem { memory = 5.Gb }
  withLabel: highcpu { cpus = 2 }
  withLabel: lowtime { time = 1.h }
  withLabel: midtime { time = 4.h }
  withLabel: hightime { time = 8.h }
}
