__merge__: ../../api/comp_method.yaml
functionality:
  name: "neuralee"
  info:
    label: NeuralEE
    summary: "Non-linear method that uses a neural network to preserve pairwise distances between data points in a high-dimensional space."
    description: |
      A neural network implementation of elastic embedding. It is a
      non-linear method that preserves pairwise distances between data points.
      NeuralEE uses a neural network to optimize an objective function that
      measures the difference between pairwise distances in the original
      high-dimensional space and the two-dimensional space. It is computed on both
      the recommended input from the package authors of 500 HVGs selected from a
      logged expression matrix (without sequencing depth scaling) and the default
      logCPM matrix with 1000 HVGs.
    reference: "xiong2020neuralee"
    repository_url: "https://github.com/HiBearME/NeuralEE"
    documentation_url: "https://github.com/HiBearME/NeuralEE#readme"
    v1:
      path: openproblems/tasks/dimensionality_reduction/methods/neuralee.py
      commit: b3456fd73c04c28516f6df34c57e6e3e8b0dab32
    preferred_normalization: log_cp10k
    variants:
      neuralee_default:
        normalize: true
        n_hvg: 500
      neuralee_logCP10k_1kHVG:
        normalize: false
        n_hvg: 1000
  arguments:
    - name: "--n_iter"
      type: integer
      description: Number of iterations.
    - name: "--n_hvg"
      type: integer
      description: Number of highly variable genes to subset to. If not specified, the input matrix will not be subset.
      default: 1000
    - name: "--normalize"
      type: boolean
      default: false
      description: Whether to perform own normalization
  resources:
    - type: python_script
      path: script.py
platforms:
  - type: docker
    image: ghcr.io/openproblems-bio/base_python:1.0.4
    setup:
      - type: python
        packages:
          - torch
          - "git+https://github.com/michalk8/neuralee@8946abf"
  - type: nextflow
    directives: 
      label: [midtime, highmem, highcpu]
