{{ $ := .root }}
{{ $page := .page }}
{{ $hash_id := .hash_id }}

<div class="row justify-content-center">
  <div class="col-12 text-center section-heading">
    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}
    <p>{{ . | markdownify }}</p>{{ end }}
  </div>

<div class="card-deck">
    {{ range $index, $item := $page.Params.item }}

    <div class="card task-card text-center">
      <img class="card-img-top" src="{{ $item.img }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title" style="height:2.5rem;">{{ $item.name }}</h5>

        <a href="results/#{{ $item.link }}" class="btn btn-primary stretched-link"><strong>Results</strong></a>
      </div>
    </div>

    {{ end }}
  </div>

</div>
