# use metric api spec
__merge__: ../../api/comp_metric_graph.yaml
functionality:
  name: clustering_overlap
  info:
    metrics:
      - name: ari
        label: ARI
        summary: Adjusted Rand Index compares clustering overlap, correcting for random labels and considering correct overlaps and disagreements.
        description: |
          The Adjusted Rand Index (ARI) compares the overlap of two clusterings;
          it considers both correct clustering overlaps while also counting correct
          disagreements between two clusterings.
          We compared the cell-type labels with the NMI-optimized
          Louvain clustering computed on the integrated dataset.
          The adjustment of the Rand index corrects for randomly correct labels.
          An ARI of 0 or 1 corresponds to random labeling or a perfect match,
          respectively.
        reference:
          - hubert1985comparing
          - luecken2022benchmarking
        min: 0
        max: 1
        maximize: true
        v1:
          path: openproblems/tasks/_batch_integration/batch_integration_graph/metrics/ari.py
          commit: b3456fd73c04c28516f6df34c57e6e3e8b0dab32
      - name: nmi
        label: NMI
        summary: "NMI compares overlap by scaling using mean entropy terms and optimizing Louvain clustering to obtain the best match between clusters and labels."
        description: |
          Normalized Mutual Information (NMI) compares the overlap of two clusterings.
          We used NMI to compare the cell-type labels with Louvain clusters computed on
          the integrated dataset. The overlap was scaled using the mean of the entropy terms
          for cell-type and cluster labels. Thus, NMI scores of 0 or 1 correspond to uncorrelated
          clustering or a perfect match, respectively. We performed optimized Louvain clustering
          for this metric to obtain the best match between clusters and labels.
        reference:
          - amelio2015normalized
          - luecken2022benchmarking
        min: 0
        max: 1
        maximize: true
        v1:
          path: openproblems/tasks/_batch_integration/batch_integration_graph/metrics/nmi.py
          commit: b3456fd73c04c28516f6df34c57e6e3e8b0dab32
  resources:
    - type: python_script
      path: script.py
platforms:
  - type: docker
    image: ghcr.io/openproblems-bio/base_python:1.0.4
    setup:
      - type: python
        pypi:
          - scib==1.1.5
  - type: nextflow
    directives: 
      label: [midtime, midmem, lowcpu]
