[run]
parallel = true
branch = true
source =
    openproblems
    test
omit =
    */__init__.py
    test/utils/*.py

[report]
exclude_lines =
    \#.*pragma:\s*no.?cover
    ^if __name__ == .__main__.:$
    ^\s*if __debug__:\b
    ^\s*if False:\b
    ^\s*raise AssertionError\b
    ^\s*raise NotImplementedError\b
    ^\s*return NotImplemented\b
show_missing = true
precision = 2
skip_empty = True
sort = Miss
