manifest {
  nextflowVersion = '!>=20.12.1-edge'
}

// ADAPT rootDir ACCORDING TO RELATIVE PATH WITHIN PROJECT
rootDir = "$projectDir"
targetDir = "$rootDir/target/nextflow"

// INSERT CUSTOM IMPORTS HERE

// END INSERT

docker {
  runOptions = "-v $rootDir:$rootDir"
}

process {
  maxForks = 30
  cpus = 2
  errorStrategy='ignore'
  container = 'nextflow/bash:latest'

  pod = [ [ nodeSelector: 'worker-group = m5s' ] ] 

  withLabel: highmem { memory = 50.Gb }
  withLabel: highcpu { cpus = 20 }
  withLabel: highmem_highcpu { 
    cpus = 20
    memory = 128.Gb 
  }
}

