manifest {
  nextflowVersion = '!>=20.04.0-edge'
}

includeConfig 'target/nextflow/modality_alignment/datasets/citeseq_cbmc/nextflow.config'
includeConfig 'target/nextflow/modality_alignment/methods/mnn/nextflow.config'
includeConfig 'target/nextflow/modality_alignment/metrics/knn_auc/nextflow.config'

docker {
  runOptions = "-i -v ${baseDir}:${baseDir}"
}

process {
  maxForks = 30
  container = 'ubuntu'
  errorStrategy='ignore'
}

k8s {
  pullPolicy = 'Always'
  imagePullPolicy = 'Always'
}
