functionality:
  name: "run_benchmark"
  namespace: "denoising/workflows"
  argument_groups:
    - name: Inputs
      arguments:
        - name: "--id"
          type: "string"
          description: "The ID of the dataset"
          required: true
        - name: "--input_train"
          type: "file" # todo: replace with includes
        - name: "--input_test"
          type: "file" # todo: replace with includes
    - name: Outputs
      arguments:
        - name: "--output"
          direction: "output"
          type: file
  resources:
    - type: nextflow_script
      path: main.nf
platforms:
  - type: nextflow
