manifest {
  nextflowVersion = '!>=20.10.0'
}

includeConfig "$launchDir/target/nextflow/modality_alignment/datasets/scprep_csv/nextflow.config"
includeConfig "$launchDir/target/nextflow/modality_alignment/methods/mnn/nextflow.config"
includeConfig "$launchDir/target/nextflow/modality_alignment/methods/scot/nextflow.config"
includeConfig "$launchDir/target/nextflow/modality_alignment/metrics/knn_auc/nextflow.config"
includeConfig "$launchDir/target/nextflow/utils/extract_scores/nextflow.config"

docker {
  runOptions = "-v $launchDir:$launchDir"
}

process {
  maxForks = 30
  container = 'ubuntu'
  errorStrategy='ignore'
}
