manifest {
  nextflowVersion = '!>=20.12.1-edge'
}

rootDir = "$projectDir/../../.."
targetDir = "$rootDir/target/nextflow"

// custom includes
includeConfig "$targetDir/modality_alignment/datasets/scprep_csv/nextflow.config"
includeConfig "$targetDir/modality_alignment/datasets/sample_dataset/nextflow.config"
includeConfig "$targetDir/modality_alignment/methods/mnn/nextflow.config"
includeConfig "$targetDir/modality_alignment/methods/scot/nextflow.config"
includeConfig "$targetDir/modality_alignment/methods/harmonic_alignment/nextflow.config"
includeConfig "$targetDir/modality_alignment/methods/sample_method/nextflow.config"
includeConfig "$targetDir/modality_alignment/metrics/knn_auc/nextflow.config"
includeConfig "$targetDir/modality_alignment/metrics/mse/nextflow.config"
includeConfig "$targetDir/common/extract_scores/nextflow.config"

// other configs
docker {
  runOptions = "-v $rootDir:$rootDir"
}

process {
  maxForks = 30
  cpus = 2
  errorStrategy='ignore'
  container = 'nextflow/bash:latest'

  pod = [ [ nodeSelector: 'worker-group = m5s' ] ] 

  withLabel: highmem { memory = 50.Gb }
  withLabel: highcpu { cpus = 20 }
  withLabel: highmem_highcpu { 
    cpus = 20
    memory = 128.Gb 
  }
}


