functionality:
  name: extract_metadata
  namespace: common
  description: Extract the metadata from an h5ad file.
  argument_groups:
    - name:  Inputs
      arguments:
        - name: --input
          type: file
          required: true
          description: A h5ad file.
        - name: --schema
          type: file
          required: false
          description: An optional schema with which to annotate the output
    - name: Output
      arguments:
        - name: --output
          type: file
          required: true
          description: A yaml file containing the metadata.
          example: output_meta.yaml
          direction: output
  resources:
    - type: python_script
      path: script.py
  test_resources:
    - path: /resources_test/common/pancreas
    - path: /src/datasets/api/file_raw.yaml
    - type: python_script
      path: test.py
platforms:
  - type: docker
    image: ghcr.io/openproblems-bio/base_python:1.0.4
    test_setup:
      - type: python
        packages: viashpy
  - type: nextflow
    directives:
      label: [midtime, midmem, midcpu]
