r-acepack    
r-checkmate  
r-dosnow     
r-foreign    
r-formula    
r-hmisc      
r-htmltable  
r-jpeg       
r-latticeextra
r-mclust     
r-mnormt     
r-nnet       
r-psych      
r-rann.l1    
r-riverplot  
r-tmvnsim    
r-viridis    
