{{ $dataset := .Get "dataset" }}
{{ $task := .Get "task" }}
{{ $dataFile := index (index .Site.Data.results $task) $dataset }}
{{ $id := .Get "dataset" }}
{{ $.Scratch.Set "count" 0 }}

<script>
  function docReady(fn) {
    // see if DOM is already available
    if (document.readyState === "complete" || document.readyState === "interactive") {
      // call on next available tick
      setTimeout(fn, 1);
    } else {
      document.addEventListener("DOMContentLoaded", fn);
    }
  }

  docReady( function() {
    $(document).ready( function () {
      $({{ printf "#%s" $id }}).DataTable(
      {"paging": false,
      "bInfo" : false,
      "searching": false,
      "columnDefs":[
        {
          "orderable": false, "targets":[
          {{ range $dataFile.headers.fixed }}
            {{ printf "%s" . }},
          {{ end }}
          ]
        }
      ]
    }
      );
    } );
  }
  )
</script>

<h3>{{ $dataFile.name }}</h3>

<table id="{{ $id }}" class="display center" >
  <thead>
    {{ range $dataFile.headers.names }}
      <th class="{{ . }}">
        {{ . }}
      </th>
    {{ end }}
  </thead>

  {{ range $method := $dataFile.results }}
  <tr>
    {{ range $attr := $dataFile.headers.names }}
      {{ $val := index $method $attr }}
      {{ if (eq $attr "Name") }}
      <td>
      {{ else }}
      <td class="text-center">
      {{ end }}
        {{ if (eq $attr "Paper" )}}
          <a href='{{ index $method "Paper URL"}}'> <i class="fas fa-file-alt"></i></a>

        {{ else if (eq $attr "Code")}}
          <a href='{{ $val }}'><p>v{{ index $method "Version"}}</p></a>
        {{ else if (eq $attr "Rank")}}
          <strong>{{ $val }}</strong>
        {{ else if not (in "Name Paper Code Year" $attr) }}
           {{ lang.NumFmt 2 $val }}
        {{ else }}
          {{ $val }}
        {{ end }}
      </td>
    {{ end }}
  {{ end }}
  </tr>
</table>
