{{ $arg := .Get 0 }}
{{ $dataFile := index .Site.Data $arg }}
{{ $id := .Get 1}}
{{ $.Scratch.Set "count" 0 }}



<table id="{{ $id }}" class="display" width="100%">
{{ range $table := $dataFile }}
  {{ range $row := $table }}
  {{ if eq 0 ($.Scratch.Get "count") }}
  <thead>
  {{ end }}

    <tr>
    {{ range $datas := $row }}
      {{ range $data := $datas }}
        {{ if eq 0 ($.Scratch.Get "count") }}
        <th>
          {{ . | markdownify }}
        </th>
        {{ else }}
        <td>
          {{ . | markdownify }}
        </td>
        {{ end }}
      {{ end }}
    {{ end }}
    </tr>
    {{ if eq 0 ($.Scratch.Get "count") }}
  </thead>
    {{ end }}
    {{ $.Scratch.Add "count" 1 }}
  {{ end }}
{{ end }}
</table>
