__merge__: ../../api/comp_processor_knn.yaml
functionality:
  name: "knn"
  namespace: "datasets/processors"
  description: "Compute KNN"
  resources:
    - type: python_script
      path: script.py
platforms:
  - type: docker
    image: "python:3.8"
    setup:
      - type: python
        packages:
          - scanpy
          - "anndata>=0.8"
          - pyyaml
  - type: nextflow
