__merge__: ../../api/comp_control_method.yaml
functionality:
  name: "random_features"
  info:
    label: Random Features
    summary: "Randomly permutated features"
    description: |
      "Randomly permuted twice, once for use as the output for each modality, producing random features with no correlation between modalities."
    preferred_normalization: log_cp10k
    v1:
      path: openproblems/tasks/matching_modalities/methods/baseline.py
      commit: b3456fd73c04c28516f6df34c57e6e3e8b0dab32
  resources:
    - type: python_script
      path: script.py
platforms:
  - type: docker
    image: ghcr.io/openproblems-bio/base_python:1.0.1
    setup:
      - type: python
        packages:
          - numpy
  - type: nextflow
    directives:
      label: [ lowmem, lowcpu ]