functionality:
  name: "generate_qc"
  description: "Generate task QC metrics"
  namespace: common/process_task_results
  arguments:
    - name: "--task_info"
      type: "file"
      example: task_info.json
      description: "Task info file"
    - name: "--method_info"
      type: "file"
      example: method_info.json
      description: "Method info file"
    - name: "--metric_info"
      type: "file"
      example: metric_info.json
      description: "Metric info file"
    - name: "--dataset_info"
      type: "file"
      example: dataset_info.json
      description: "Dataset info file"
    - name: "--results"
      type: "file"
      example: results.json
      description: "Results file"
    - name: "--output"
      type: "file"
      direction: "output"
      default: "output.json"
      description: "Output json"
  resources:
    - type: python_script
      path: script.py
platforms:
  - type: docker
    image: ghcr.io/openproblems-bio/base_python:1.0.2
  - type: nextflow
    directives:
      label: [lowmem, lowtime, lowcpu]
