git+https://github.com/KrishnaswamyLab/harmonic-alignment#subdirectory=python
magic-impute
MulticoreTSNE
phate
pyensembl
pybedtools
torch
git+https://github.com/michalk8/neuralee@master  # contains gradient error fix
tensorflow-cpu==2.4.1
ivis
git+https://github.com/czbiohub/molecular-cross-validation
git+https://github.com/atong01/SCOT
