git+https://github.com/KrishnaswamyLab/harmonic-alignment#subdirectory=python
magic-impute
MulticoreTSNE
datatable
phate
pyensembl
pybedtools
git+https://github.com/czbiohub/molecular-cross-validation
palantir
harmonypy
PhenoGraph
git+https://github.com/dpeerlab/Palantir
