cmake==3.18.4
git+https://github.com/atong01/SCOT
git+https://github.com/czbiohub/molecular-cross-validation
git+https://github.com/KrishnaswamyLab/harmonic-alignment#subdirectory=python
git+https://github.com/michalk8/neuralee@master  # contains gradient error fix
magic-impute
MulticoreTSNE
phate
pybedtools
pyensembl
scvi-tools>=0.16.0
tangram-sc==1.0.2
tensorflow-cpu==2.7.2
torch
umap-learn
