__merge__: ../../api/comp_control_method.yaml
functionality:
  name: "no_denoising"
  info:
    label: No Denoising
    summary: "negative control by copying train counts"
    description: "This method serves as a negative control, where the denoised data is a copy of the unaltered training data. This represents the scoring threshold if denoising was not performed on the data."
    v1:
      path: openproblems/tasks/denoising/methods/baseline.py
      commit: 29803b95c88b4ec5921df2eec7111fd5d1a95daf
    variants:
      no_denoising:
    preferred_normalization: counts
  resources:
    - type: python_script
      path: script.py
platforms:
  - type: docker
    image: ghcr.io/openproblems-bio/base_python:1.0.1
  - type: nextflow
    directives: 
      label: [ midmem, midcpu ]
