__merge__: ../api/get_info.yaml
functionality:
  name: "get_api_info"
  namespace: "common"
  description: "Extract api info"
  resources:
    - type: r_script
      path: script.R
platforms:
  - type: docker
    image: ghcr.io/openproblems-bio/base-r:latest
    setup:
      - type: r
        cran: [ tidyverse ]
  - type: nextflow
  - type: native
