functionality:
  name: create_skeleton
  namespace: common
  description: |
    Create a skeleton Viash component.
    
    Usage:
    ```
    bin/create_skeleton --task denoising --type method --language r --name foo
    bin/create_skeleton --task denoising --type metric --language python --name bar
    ```
  arguments:
    - type: string
      name: --task
      description: Which task the component will be added to.
      example: denoising
    - type: string
      name: --type
      example: metric
      description: The type of component to create.
      choices: ['metric', 'method', 'control_method']
    - type: string
      name: --language
      description: Which scripting language to use. Options are 'python', 'r'.
      default: python
      choices: [python, r]
    - type: string
      name: --name
      example: new_comp
      description: Name of the new method, formatted in snake case.
    - type: file
      name: --output
      direction: output
      # required: true
      description: Path to the component directory. Suggested location is `src/<TASK>/<TYPE>s/<NAME>`.
      default: src/${VIASH_PAR_TASK}/${VIASH_PAR_TYPE}s/${VIASH_PAR_NAME}
    - type: file
      name: --api_file
      description: |
        Which API file to use. Defaults to `src/<TASK>/api/comp_<TYPE>.yaml`.
        In tasks with different subtypes of method, this location might not exist and you might need
        to manually specify a different API file to inherit from.
      # required: true
      default: src/${VIASH_PAR_TASK}/api/comp_${VIASH_PAR_TYPE}.yaml
  resources:
    - type: python_script
      path: script.py
  test_resources:
    - type: python_script
      path: test.py
    - path: ../../../src
      dest: openproblems-v2/src
platforms:
  - type: docker
    image: python:3.10-slim
    setup:
      - type: python
        pip: ruamel.yaml
  - type: nextflow


