__inherits__: ../../api/comp_dataset_censoring.yaml
functionality:
  name: "censoring"
  namespace: "label_projection/data_processing"
  arguments:
    - name: "--method"
      type: "string"
      description: "The process method to assign train/test."
      choices: ["batch", "random"]
      default: "batch"
    - name: "--obs_label"
      type: "string"
      description: "Which .obs slot to use as label."
      default: "celltype"
    - name: "--obs_batch"
      type: "string"
      description: "Which .obs slot to use as batch covariate."
      default: "batch"
    - name: "--seed"
      type: "integer"
      description: "A seed for the subsampling."
      example: 123
  resources:
    - type: python_script
      path: script.py
platforms:
  - type: docker
    image: "python:3.8"
    setup:
      - type: python
        packages:
          - scanpy
          - "anndata<0.8"
  - type: nextflow
