__merge__: ../../api/comp_method.yaml
functionality:
  name: "pca"
  info:
    label: "PCA"
    summary: A linear method that finds orthogonal directions to compute the two-dimensional embedding.
    description: |
      Principal Component Analysis is a linear method that finds orthogonal
      directions in the data that capture the most variance. The first two
      principal components are chosen as the two-dimensional embedding. We select
      only the first two principal components as the two-dimensional embedding. PCA
      is calculated on the logCPM expression matrix with and without selecting 1000
      HVGs.
    reference: pearson1901pca
    repository_url: "https://scikit-learn.org/stable/modules/generated/sklearn.decomposition.PCA.html"
    documentation_url: "https://scikit-learn.org/stable/modules/generated/sklearn.decomposition.PCA.html"
    v1:
      path: openproblems/tasks/dimensionality_reduction/methods/pca.py
      commit: 154ccb9fd99113f3d28d9c3f139194539a0290f9
    preferred_normalization: log_cp10k
    variants:
      pca_logCP10k:
      pca_logCP10k_1kHVG:
        n_hvg: 1000
  arguments:
    - name: "--n_hvg"
      type: integer
      description: Number of highly variable genes to subset to. If not specified, the input matrix will not be subset.
  resources:
    - type: python_script
      path: script.py
platforms:
  - type: docker
    image: ghcr.io/openproblems-bio/base_python:1.0.1
    setup:
      - type: python
        packages: scanpy
  - type: nextflow
    directives: 
      label: [ "midtime", highmem, highcpu ]
