__merge__: ../../api/comp_processor_hvg.yaml
functionality:
  name: "hvg"
  description: "Compute HVG"
  resources:
    - type: python_script
      path: script.py
platforms:
  - type: docker
    image: ghcr.io/openproblems-bio/base_python:1.0.4
  - type: nextflow
    directives:
      label: [midtime, highmem, midcpu]
