__merge__: ../api/comp_process_dataset.yaml
functionality:
  name: "process_dataset"
  description: |
    Split data using molecular cross-validation.
  
    Splits molecules into two (potentially overlapping) groups using a fraction ratio.
    These are output as two separate AnnData objects.
  arguments:
    - name: "--method"
      type: "string"
      description: "The process method to assign train/test."
      choices: ["mcv"]
      default: "mcv"
    - name: "--train_frac"
      type: "double"
      description: "The fraction the molecules need to be split to train dataset"
      default: 0.9
    - name: "--seed"
      type: "integer"
      description: "A seed for the subsampling."
      example: 123
  resources:
    - type: python_script
      path: script.py
    - path: helper.py
platforms:
  - type: docker
    image: ghcr.io/openproblems-bio/base_python:1.0.0
    setup:
      - type: python
        packages:
          - numpy
          - scipy
  - type: nextflow
