# use metric api spec
__merge__: ../../api/comp_metric_embedding.yaml
functionality:
  name: asw_label
  info:
    metrics:
      - name: asw_label
        label: ASW Label
        summary: Average silhouette of cell identity labels (cell types)
        description: |
          For the bio-conservation score, the ASW was computed on cell identity labels and
          scaled to a value between 0 and 1 using the equation:
          celltypeASW=(ASW_C+1)/2,

          where C denotes the set of all cell identity labels.
          For information about the batch silhouette score, check sil_batch.
        reference: luecken2022benchmarking
        min: 0
        max: 1
        maximize: true
        v1:
          path: openproblems/tasks/_batch_integration/batch_integration_embed/metrics/silhouette.py
          commit: b3456fd73c04c28516f6df34c57e6e3e8b0dab32
  resources:
    - type: python_script
      path: script.py
    - type: python_script
      path: /src/common/helper_functions/read_anndata_partial.py
platforms:
  - type: docker
    image: ghcr.io/openproblems-bio/base_images/python:1.1.0
    setup:
      - type: python
        pypi:
          - scib==1.1.5
  - type: nextflow
    directives: 
      label: [midtime, midmem, lowcpu]
