__merge__: ../../api/comp_method.yaml

functionality:
  name: simlr

  info:
    label: SIMLR
    summary: Multikernal-based learning of distance metrics from gene expression data for dimension reduction, clustering and visulaization.
    description: |
      Single-cell interpretation via multikernel learning (SIMLR) learns cell-to-cell similarity measures from single-cell RNA-seq data in using Gaussian kernels with various hyperparameters in order to perform dimension reduction, clustering and visualization. 
      SIMLR assumes that if C separable populations exist among the N cells, then the similarity matrix should have an approximate block-diagonal structure with C blocks whereby cells have larger similarities to other cells within the same subpopulations. Learned similarity between two cells should be small if the Euclidean distance between them is large. The cell-to-cell similarity is computed using an optimization framework over an N x N similarity matrix, a low-dimensional auxilary matrix enforcing low rank constraint on the similarity matrix, and the kernel weights. 
      Dimension reduction is achieved by the stochastic neighbor embedding methodology with the learned similarities as input. 
    preferred_normalization: log_cp10k
    reference: "wang2017visualization"
    documentation_url: https://github.com/BatzoglouLabSU/SIMLR/blob/SIMLR/README.md
    repository_url: https://github.com/BatzoglouLabSU/SIMLR

  arguments:
    - name: "--n_dim"
      type: integer
      description: Number of dimensions.
    - name: "--n_clusters"
      type: integer
      description: Number of clusters to be estimated over the input dataset.
    - name: "--tuning_param"
      type: integer
      default: 10
      description: Number of dimensions.
    - name: "--impute"
      type: boolean
      default: false
      description: Should the input data be transposed?
    - name: "--normalize"
      type: boolean
      default: false
      description: Should the input data be normalized?
    - name: "--cores_ratio"
      type: integer
      default: 1
      description: Ratio of the number of cores to be used when computing the multi-kernel.

  resources:
    - type: r_script
      path: script.R
 
platforms:
  - type: docker
    image: ghcr.io/openproblems-bio/base_r:1.0.2
    setup:
      - type: r
        packages: [ grDevices ]
        cran: [ Matrix, parallel, Rcpp, pracma, RcppAnnoy, RSpectra, igraph ]
        bioc: [ SIMLR ]
  - type: native
  - type: nextflow
    directives:
      label: [ "midtime", midmem, midcpu ]
