functionality:
  name: query_cellxgene_census
  namespace: datasets/loaders
  description: |
    Query cells from a CellxGene Census or custom TileDBSoma object.
    Aside from fetching the cells' RNA counts (`.X`), cell metadata
    (`.obs`) and gene metadata (`.var`), this component also fetches
    the dataset metadata and joins it into the cell metadata.
  argument_groups:
    - name: Input database
      description: "Open CellxGene Census by version or URI."
      arguments:
        - name: "--input_uri"
          type: string
          description: "If specified, a URI containing the Census SOMA objects. If specified, will take precedence over the `--census_version` argument."
          required: false
          example: "s3://bucket/path"
        - name: "--census_version"
          description: "Which release of CellxGene census to use. Possible values are \"latest\", \"stable\", or the date of one of the releases (e.g. \"2023-07-25\"). For more information, check the documentation on [Census data releases](https://chanzuckerberg.github.io/cellxgene-census/cellxgene_census_docsite_data_release_info.html)."
          type: string
          example: "stable"
          required: false
    - name: Query
      description: Arguments related to the query.
      arguments:
        - name: "--species"
          type: string
          description: The organism to query, usually one of `Homo sapiens` or `Mus musculus`.
          required: false
          default: "homo_sapiens"
          multiple: false
        - name: "--obs_value_filter"
          type: string
          description: "Filter for selecting the `obs` metadata (i.e. cells). Value is a filter query written in the SOMA `value_filter` syntax."
          required: false
          example: "is_primary_data == True and cell_type_ontology_term_id in ['CL:0000136', 'CL:1000311', 'CL:0002616'] and suspension_type == 'cell'"
        - name: "--cell_filter_grouping"
          type: string
          description: |
            A subset of 'obs' columns by which to group the cells for filtering.
            Only groups surpassing or equal to the `--cell_filter_minimum_count`
            threshold will be retained. Take care not to introduce a selection
            bias against cells with more fine-grained ontology annotations.
          required: false
          example: ["dataset_id", "tissue", "assay", "disease", "cell_type"]
          multiple: true
        - name: "--cell_filter_minimum_count"
          type: double
          description: |
            A minimum number of cells per group to retain. If `--cell_filter_grouping`
            is defined, this parameter should also be provided and vice versa.
          required: false
          example: 100
    - name: Outputs
      description: Output arguments.
      arguments:
        - name: "--output"
          type: file
          description: Output h5ad file.
          direction: output
          required: true
          example: output.h5ad
        - name: "--output_compression"
          type: string
          choices: ["gzip", "lzf"]
          required: false
          example: "gzip"
  resources:
    - type: python_script
      path: script.py
    - path: /src/common/helper_functions/setup_logger.py
  test_resources:
    - type: python_script
      path: test.py
platforms:
  - type: docker
    image: ghcr.io/openproblems-bio/base_python:1.0.2
    setup:
      - type: python
        packages:
          - cellxgene-census~=1.2.0
    test_setup:
      - type: python
        packages:
          - viashpy
  - type: nextflow
    directives:
      label: [highmem, midcpu]