type: file
example: "resources_test/spatially_variable_genes/mouse_brain_coronal/output.h5ad"
info:
  label: Output
  summary: "Anndata with estimate spatial variability."
  description: "Anndata with estimated spatial variability score for each gene."
  slots:
    var:
      - type: string
        name: feature_id
        description: Feature ID
        required: true
      - type: string
        name: feature_name
        description: Feature name
        required: false
      - type: double
        name: pred_spatial_var_score
        description: Predicted spatial variability score
        required: true
    uns:
      - type: string
        name: dataset_id
        description: "A unique identifier for the dataset"
        required: true
      - type: string
        name: method_id
        description: "A unique identifier for the method"
        required: true
      