functionality:
  name: create_component
  status: disabled
  namespace: common
  description: |
    Create a component Viash component.
    
    Usage:
    ```
    bin/create_component --task denoising --type method --language r --name foo
    bin/create_component --task denoising --type metric --language python --name bar
    ```
  arguments:
    - type: string
      name: --task
      description: Which task the component will be added to.
      example: denoising
    - type: string
      name: --type
      example: metric
      description: The type of component to create. Typically must be one of 'method', 'control_method' or 'metric'.
    - type: string
      name: --language
      description: Which scripting language to use. Options are 'python', 'r'.
      default: python
      choices: [python, r]
    - type: string
      name: --name
      example: new_comp
      description: Name of the new method, formatted in snake case.
    - type: file
      name: --output
      direction: output
      # required: true
      description: Path to the component directory. Suggested location is `src/<TASK>/<TYPE>s/<NAME>`.
      default: src/tasks/${VIASH_PAR_TASK}/${VIASH_PAR_TYPE}s/${VIASH_PAR_NAME}
    - type: file
      name: --api_file
      description: |
        Which API file to use. Defaults to `src/<TASK>/api/comp_<TYPE>.yaml`.
        In tasks with different subtypes of method, this location might not exist and you might need
        to manually specify a different API file to inherit from.
      must_exist: false
      # required: true
      default: src/tasks/${VIASH_PAR_TASK}/api/comp_${VIASH_PAR_TYPE}.yaml
    - type: file
      name: --viash_yaml
      description: |
        Path to the project config file. Needed for knowing the relative location of a file to the project root.
      # required: true
      default: "_viash.yaml"
  resources:
    - type: python_script
      path: script.py
    - path: /src/common/helper_functions/read_and_merge_yaml.py
  test_resources:
    - type: python_script
      path: test.py
    - path: /src
      dest: openproblems/src
    - path: /_viash.yaml
      dest: openproblems/_viash.yaml
platforms:
  - type: docker
    image: python:3.10-slim
    setup:
      - type: python
        pypi: ruamel.yaml
  - type: native
  - type: nextflow


