__merge__: ../../api/comp_method.yaml

functionality:
  name: rctd
  info:
    label: RCTD
    summary: "RCTD learns cell type profiles from scRNA-seq to decompose cell type mixtures while correcting for differences across sequencing technologies."
    description: |
      RCTD (Robust Cell Type Decomposition) is a decomposition method that uses signatures learnt from single-cell data to decompose spatial expression of tissues. It is able to use a platform effect normalization step, which normalizes the scRNA-seq cell type profiles to match the platform effects of the spatial transcriptomics dataset.
    preferred_normalization: counts
    reference: cable2021robust
    documentation_url: https://raw.githack.com/dmcable/spacexr/master/vignettes/spatial-transcriptomics.html
    repository_url: https://github.com/dmcable/spacexr

  arguments:
    - name: "--fc_cutoff"
      type: double
      default: 0.5
      description: Minimum log-fold-change (across cell types) for genes to be included in the platform effect normalization step.
    - name: "--fc_cutoff_reg"
      type: double
      default: 0.75
      description: Minimum log-fold-change (across cell types) for genes to be included in the RCTD step.
  resources:
    - type: r_script
      path: script.R

platforms:
  - type: docker
    image: ghcr.io/openproblems-bio/base_r:1.0.4
    setup:
      - type: r
        cran: [ Matrix, pak ]
      - type: r
        script: 'pak::pkg_install("dmcable/spacexr")'
  - type: native
  - type: nextflow
    directives:
      label: [midtime, highmem, midcpu]
