__merge__: ../../api/comp_control_method.yaml

functionality:
  name: true_proportions
  info:
    label: True Proportions
    summary: "Positive control method that assigns celltype proportions from the ground truth."
    description: |
      A positive control method with perfect assignment of predicted celltype proportions from the ground truth.
    preferred_normalization: counts

  resources:
    - type: python_script
      path: script.py

platforms:
  - type: docker
    image: ghcr.io/openproblems-bio/base_python:1.0.4
  - type: native
  - type: nextflow
    directives:
      label: [midtime, midmem, midcpu]
