__merge__: ../../api/comp_control_method.yaml
functionality:
  name: zeros
  info:
    label: Zeros
    summary: Returns a prediction consisting of all zeros.
    description: Returns a prediction consisting of all zeros.
  resources:
    - type: python_script
      path: script.py
platforms:
  - type: docker
    image: ghcr.io/openproblems-bio/base_python:1.0.4
  - type: nextflow
    directives:
      label: [midtime, lowmem, lowcpu]
