bioc::batchelor
sparsesvd
dplyr
caret=6.*
crayon=1.3*
devtools=2.3*
forecast=8.12*
hexbin=1.28*
htmltools=0.4*
htmlwidgets=1.5*
irkernel=1.1*
rmarkdown=2.2*
rodbc=1.3*
rsqlite=2.2*
shiny=1.4*
tidyverse=1.3*
ixodbc=2.3.*
tidymodels=0.1*
reticulate=1.*
