bioc::batchelor
bioc::ComplexHeatmap
caret@6.0-86
cli@3.1.0
conos
crayon@1.4.1
dbplyr@2.1.1
devtools@2.3.2
dplyr
ellipsis@0.3.2
forecast@8.14
hexbin@1.28.2
htmltools@0.4.0
htmlwidgets@1.5.3
igraph@1.2.11
immunogenomics/harmony
lifecycle@1.0.1
Matrix
Rcpp@1.0.7
reticulate@1.18
rlang@1.0.2
rliger
rmarkdown@2.2
RSQLite@2.2.4
Seurat
shiny@1.4.0.2
sparsesvd
tibble@3.1.7
tidymodels@0.1.2
tidyverse@1.3.0
welch-lab/liger@v0.5.0
