bioc::batchelor@1.12.3
bioc::ComplexHeatmap@2.12.1
bioc::scater@1.24.0
bioc::scran@1.24.1
bioc::scuttle@1.6.3
bslib@0.4.0
caret@6.0-93
cli@3.4.1
conos@1.5.0
crayon@1.5.2
dbplyr@2.2.1
devtools@2.4.5
dmcable/spacexr@eeb02a2 # master
downlit@0.4.2
dplyr@1.0.10
e1071@1.7-12
ellipsis@0.3.2
forecast@8.18
hardhat@1.1.0
here@1.0.1
hexbin@1.28.2
htmltools@0.5.3
htmlwidgets@1.5.4
igraph@1.3.5
lifecycle@1.0.3
Matrix@1.5-1
pkgdown@2.0.6
pkgload@1.3.1
profvis@0.3.7
proxy@0.4-27
ragg@1.2.4
Rcpp@1.0.9
RcppTOML@0.1.7
reticulate@1.26
rlang@1.0.6
rliger@1.0.0
rmarkdown@2.2
RSQLite@2.2.4
saezlab/liana@d081087 # 0.1.9 last commit
saezlab/OmnipathR@679bb79 # master
sass@0.4.2
sctransform@0.3.4
Seurat@4.1.1
SeuratObject@4.1.1
shiny@1.4.0.2
sparsesvd@0.2
systemfonts@1.0.4
textshaping@0.3.6
theislab/kBET@a10ffea # master
tibble@3.1.7
tidymodels@0.1.2
tidyverse@1.3.0
tune@0.2.0
urlchecker@1.0.1
welch-lab/liger@v0.5.0
