.hero {
}

.hero h1{
  font-size: 2.5rem;
}

.hero p{
  font-size: 1rem;
}

.task-card{
  max-height: 400px;
  max-width: 300px;
  background: #ffffff;
  width: 100%;
  min-width: 240px;
  margin-left: 10px;
  margin-right: 10px;
}

.task-card img{
  max-height:200px; /* Needed for safari?? */
  padding-top:20px;
}

.task-card .card-body{
  padding: 0rem 1rem 1rem;
}

.contributing-hero section{
  filter: blur(8px);
}

.frontpage-banner {

}

.frontpage-hero {
  height: 30em;
}

.banner-container {
  height: 30em;
  display: flex;
  align-items: center;
  justify-content: center
}

.banner-container img{
    margin: 0
}


@media screen and (max-width: 575.98px) {
  .frontpage-hero {
    height: 325px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767.98px) {
  .frontpage-hero {
    height: 350px;
  }
}
