name: Build Docker images

on:
  push:
    branches:
      - 'main'
      - 'test_docker'

jobs:
  build_images:
    runs-on: ${{ matrix.config.os }}
    if: "!contains(github.event.head_commit.message, 'ci skip')"

    env:
      BRANCH_NAME: "auto_update_docker_${{ github.run_number }}"

    strategy:
      fail-fast: false
      matrix:
        config:
        - {name: 'current', os: ubuntu-18.04, python: '3.8' }

    steps:
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@0.6.0
      with:
        access_token: ${{ github.token }}

    - uses: actions/checkout@v2
      with:
        fetch-depth: 1000

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.config.python }}

    - name: Install package & dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -U wheel setuptools
        pip install --editable .[evaluate]
        python -c "import openproblems"

    - name: Build Docker images
      run: |
        cd workflow
        snakemake -j $(grep -c processor /proc/cpuinfo) docker_build
        cd ..

    - name: Push Docker images
      if: startsWith(github.ref, 'refs/heads/main')
      env:
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      run: |
        cd workflow
        snakemake -j $(grep -c processor /proc/cpuinfo) docker_push
        cd ..
        echo "CHANGED=`git diff --exit-code > /dev/null && echo false || echo true`" >> $GITHUB_ENV

    - name: Set up Git branch
      if: env.CHANGED == 'true' && startsWith(github.ref, 'refs/heads/main')
      run: |
        git checkout -b $BRANCH_NAME
        git push -u origin $BRANCH_NAME

    - name: Commit result
      if: env.CHANGED == 'true' && startsWith(github.ref, 'refs/heads/main')
      uses: EndBug/add-and-commit@v6
      with:
        author_name: SingleCellOpenProblems
        author_email: singlecellopenproblems@protonmail.com
        message: 'Update docker version # ci skip'
        add: "docker/.version"
        branch: ${{ env.BRANCH_NAME }}
        push: false

    - name: Create Pull Request
      if: env.CHANGED == 'true' && startsWith(github.ref, 'refs/heads/main')
      uses: peter-evans/create-pull-request@v3
      with:
        branch: ${{ env.BRANCH_NAME }}
        delete-branch: true
        base: main
        title: '[auto] Update docker version'
        reviewers: scottgigante, dburkhardt

    - name: Upload check results on fail
      if: failure()
      uses: actions/upload-artifact@main
      with:
        name: ${{ matrix.config.name }}_results
        path: check
