name: pre-commit
on:
  push:
    branches-ignore:
      - 'main'
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pre-commit:
    runs-on: ubuntu-latest

    container:
      image: singlecellopenproblems/openproblems-github-actions:latest
      options: --user root

    if: >-
      !endsWith(github.event.head_commit.message, '# ci skip') &&
      (
        startsWith(github.ref, 'refs/heads') ||
        github.event.pull_request.draft == false
      )

    steps:

      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install system dependencies
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update -qq || (sudo rm /etc/apt/sources.list.d/* && sudo apt-get update -yqq)
          sudo apt-get install -y --no-install-recommends libcurl4-openssl-dev

      - name: Set up environment
        run: |
          echo "LINUX_VERSION=$(uname -a)" >> $GITHUB_ENV
          echo "R_VERSION=$(R --version | head -n 1)" >> $GITHUB_ENV

      - name: Cache R packages
        uses: actions/cache@v3
        if: startsWith(runner.os, 'Linux')
        with:
          path: /usr/local/lib/R/site-library
          key: precommit-${{env.LINUX_VERSION}}-${{env.R_VERSION}}-renv-${{ hashFiles('./docker/openproblems-github-actions/r_requirements.txt') }}-
          restore-keys: |
            precommit-${{env.LINUX_VERSION}}-${{env.R_VERSION}}-renv-

      - name: Install R packages
        run: |
          renv::restore()
          source("./scripts/install_renv.R")
          install_renv("./docker/openproblems-github-actions/r_requirements.txt")
        shell: Rscript {0}

      - name: Cache pre-commit
        uses: actions/cache@v3
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}-

      - name: Run pre-commit
        id: precommit
        uses: pre-commit/action@v3.0.0
        continue-on-error: true

      - name: Commit files
        if: steps.precommit.outcome == 'failure' && startsWith(github.ref, 'refs/heads')
        run: |
          if [[ `git status --porcelain --untracked-files=no` ]]; then
            git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
            git config --local user.name "github-actions[bot]"
            git checkout -- .github/workflows
            git commit -m "pre-commit" -a
          fi
        shell: bash -e {0}

      - name: Push changes
        if: steps.precommit.outcome == 'failure' && startsWith(github.ref, 'refs/heads')
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}

      - name: Check pre-commit
        if: steps.precommit.outcome == 'failure'
        uses: pre-commit/action@v3.0.0
