name: Process Nextflow results

on:
  repository_dispatch:
    types: [benchmark_complete]
  push:
    branches:
      - 'test_process'

jobs:
  process_results:
    runs-on: ubuntu-latest

    env:
      UPDATE_BRANCH_NAME: "auto_update_benchmark_${{ github.run_number }}"

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 1
        path: openproblems

    - name: Checkout website repo
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
        repository: openproblems-bio/website
        path: website
        token: ${{ secrets.GH_ACTIONS_WEBSITE_PAT }}

    - name: Set up Git branch
      working-directory: website
      run: |
        git checkout -b $UPDATE_BRANCH_NAME

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.config.python }}

    - name: Install AWS CLI
      run: |
        mkdir /tmp/awscli
        cd /tmp/awscli
        curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
        unzip -q awscliv2.zip
        sudo ./aws/install || sudo ./aws/install --update
        aws --version

    - name: Install package & dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -U wheel setuptools
        pip install -U --editable ./openproblems[process]
        python -c "import openproblems"

    - name: Parse results
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_DEFAULT_REGION: us-west-2
      run: |
        if [[ ${{ github.event_name }} == "repository_dispatch" ]]; then
          S3_URI="s3://openproblems-nextflow/cwd_main"
        else
          S3_URI="s3://openproblems-nextflow/cwd_example"
        fi
        aws s3 cp --quiet --recursive "${S3_URI}" /tmp/results/
        python openproblems/workflow/parse_nextflow.py /tmp website/data/results
        python openproblems/workflow/generate_website_markdown.py website/content/tasks

    - name: AWS S3 cleanup
      if: "github.event_name == 'repository_dispatch'"
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_DEFAULT_REGION: us-west-2
      run: |
        aws s3 rm --recursive "s3://openproblems-nextflow/work_main"
        aws s3 rm --recursive "s3://openproblems-nextflow/cwd_example"
        aws s3 cp --recursive "s3://openproblems-nextflow/cwd_main" "s3://openproblems-nextflow/cwd_example"
        aws s3 rm --recursive "s3://openproblems-nextflow/cwd_main"


    - name: Create Pull Request
      if: "github.event_name == 'repository_dispatch'"
      uses: peter-evans/create-pull-request@v4
      with:
        branch: ${{ env.UPDATE_BRANCH_NAME }}
        delete-branch: true
        base: main
        title: '[auto] Update benchmark results'
        reviewers: scottgigante, dburkhardt
        path: './website'
        token: ${{ secrets.GH_ACTIONS_WEBSITE_PAT }}
        author: "openproblems-bio <singlecellopenproblems@protonmail.com>"
        commit-message: "Update benchmark results # ci skip"
