name: Process Nextflow results

on:
  repository_dispatch:
    types: [benchmark_complete]
  push:
    branches:
      - 'test_process'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  process_results:
    runs-on: ubuntu-latest

    env:
      UPDATE_BRANCH_NAME: "auto_update_benchmark_${{ github.run_number }}"

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 1
        path: openproblems

    - name: Checkout website repo
      uses: actions/checkout@v3
      with:
        fetch-depth: 1
        repository: openproblems-bio/website
        path: website
        token: ${{ secrets.GH_ACTIONS_WEBSITE_PAT }}
        ref: refactor/tables_alternate

    - name: Checkout NBT reproduciblity repo
      uses: actions/checkout@v3
      with:
        fetch-depth: 1
        repository: openproblems-bio/nbt2022-reproducibility
        path: nbt2022-reproducibility
        token: ${{ secrets.GH_ACTIONS_NBT_REPRODUCIBILITY_PAT }}

#    - name: Set up website Git branch
#      working-directory: website
#      run: |
#        git checkout -b $UPDATE_BRANCH_NAME

    - name: Set up nbt2022-reproducibility Git branch
      working-directory: nbt2022-reproducibility
      run: |
        git checkout -b $UPDATE_BRANCH_NAME

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.8"

    - name: Install AWS CLI
      run: |
        mkdir /tmp/awscli
        cd /tmp/awscli
        curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
        unzip -q awscliv2.zip
        sudo ./aws/install || sudo ./aws/install --update
        aws --version

    - name: Install package & dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -U wheel setuptools
        pip install -U --editable ./openproblems[process]
        python -c "import openproblems"

    - name: Parse results
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_DEFAULT_REGION: us-west-2
      run: |
        if [[ ${{ github.event_name }} == "repository_dispatch" ]]; then
          S3_URI="s3://openproblems-nextflow/cwd_main"
        else
          S3_URI="s3://openproblems-nextflow/cwd_example"
        fi
        aws s3 cp --quiet --recursive "${S3_URI}" /tmp/results/
        rm -r nbt2022-reproducibility/results/*/*.json
        rm -r website/data/results/*/
        python openproblems/workflow/parse_nextflow.py /tmp website/data/results

    - name: Upload results
      uses: actions/upload-artifact@main
      with:
        name: results
        path: website/data/results

    - name: Move raw output
      if: |
        github.event_name == 'repository_dispatch' ||
        endsWith(github.event.head_commit.message, '# publish')
      run: |
        rsync -v -r --include "*.raw.json" --include "*/" --exclude "*" website/data/results/ nbt2022-reproducibility/results
        rm website/data/results/*/*.raw.json

    - name: Push to openproblems-bio/website
#      if: |
#        github.event_name == 'repository_dispatch' ||
#        endsWith(github.event.head_commit.message, '# publish')
      shell: bash
      working-directory: './website'
      env:
        GITHUB_TOKEN: ${{ secrets.GH_ACTIONS_WEBSITE_PAT }}
      run: |
        git push origin refactor/tables_alternate

    - name: Create website Pull Request
      if: |
        github.event_name == 'repository_dispatch' ||
        endsWith(github.event.head_commit.message, '# publish')
      uses: peter-evans/create-pull-request@v4
      with:
        branch: ${{ env.UPDATE_BRANCH_NAME }}
        delete-branch: true
        base: main
        title: '[auto] Update benchmark results'
        reviewers: scottgigante-immunai
        path: './website'
        token: ${{ secrets.GH_ACTIONS_WEBSITE_PAT }}
        author: "openproblems-bio <singlecellopenproblems@protonmail.com>"
        commit-message: "Update benchmark results"

    - name: Push to openproblems-bio/nbt2022-reproducibility
      if: |
        github.event_name == 'repository_dispatch' ||
        endsWith(github.event.head_commit.message, '# publish')
      shell: bash
      working-directory: './nbt2022-reproducibility'
      env:
        GITHUB_TOKEN: ${{ secrets.GH_ACTIONS_NBT_REPRODUCIBILITY_PAT }}
      run: |
        git commit -am "[auto] Update benchmark results"
        git push origin "${UPDATE_BRANCH_NAME}"

    - name: Create nbt2022-reproducibility Pull Request
      if: |
        github.event_name == 'repository_dispatch' ||
        endsWith(github.event.head_commit.message, '# publish')
      uses: peter-evans/create-pull-request@v4
      with:
        branch: ${{ env.UPDATE_BRANCH_NAME }}
        delete-branch: true
        base: main
        title: '[auto] Update benchmark results'
        reviewers: scottgigante-immunai,rcannood
        path: './nbt2022-reproducibility'
        token: ${{ secrets.GH_ACTIONS_NBT_REPRODUCIBILITY_PAT }}
        author: "openproblems-bio <singlecellopenproblems@protonmail.com>"
        commit-message: "Update benchmark results"

    - name: AWS S3 cleanup
      if: "github.event_name == 'repository_dispatch'"
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_DEFAULT_REGION: us-west-2
      run: |
        aws s3 rm --recursive "s3://openproblems-nextflow/work_main"
        aws s3 rm --recursive "s3://openproblems-nextflow/cwd_example"
        aws s3 cp --recursive "s3://openproblems-nextflow/cwd_main" "s3://openproblems-nextflow/cwd_example"
        aws s3 rm --recursive "s3://openproblems-nextflow/cwd_main"
