name: viash build CI

on:
  push:
    branches: [ main ]

jobs:
  viash-build:
    runs-on: ${{ matrix.config.os }}
    if: "!contains(github.event.head_commit.message, 'ci skip')"

    strategy:
      fail-fast: true
      matrix:
        config:
        - {name: 'main', os: ubuntu-latest }

    steps:
    - uses: actions/checkout@v2

    - name: Cache executables
      uses: actions/cache@v2
      with:
        path: bin
        key: executable-caching-${{ github.workflow }}-${{ matrix.config.name }}
      
    - name: Fetch viash
      run: |
        bin/init
        bin/viash -h

    - name: Build components
      run: |
        # allow publishing the target folder
        sed -i '/^target\/$/d' .gitignore
        
        # only build nextflow targets
        bin/viash_build -m release -t main_build
        
    - name: Run tests
      run: |
        # create check_results folder
        sed -i '/^check_results\/$/d' .gitignore
        mkdir check_results

        # run tests
        bin/viash_test -m release -t main_build --append=false --log=check_results/results.tsv

    - name: Deploy to target branch
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: .
        publish_branch: main_build
        
    - name: Login to Docker Hub
      if: false
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Push containers
      if: false
      run: |
        bin/viash_push -m release -t main_build
        
    - name: Upload check results
      uses: actions/upload-artifact@master
      with:
        name: ${{ matrix.config.name }}_results
        path: check_results


# todo: add build for tag
# https://github.com/peaceiris/actions-gh-pages#%EF%B8%8F-create-git-tag
