__merge__: ../../api/comp_method.yaml
functionality:
  name: knnr_py
  info:
    label: KNNR (Py)
    summary: K-nearest neighbor regression in Python.
    description: K-nearest neighbor regression in Python.
    reference: fix1989discriminatory
    documentation_url: https://scikit-learn.org/stable/modules/neighbors.html
    repository_url: https://github.com/scikit-learn/scikit-learn
    preferred_normalization: counts
  arguments:
    - name: "--distance_method"
      type: "string"
      default: "minkowski"
      description: The distance metric to use. Possible values include `euclidean` and `minkowski`.
    - name: "--n_pcs"
      type: "integer"
      default: 50
      description: Number of components to use for dimensionality reduction.
    - name: "--n_neighbors"
      type: "integer"
      default: 100
      description: Number of neighbors to use.
  resources:
    - type: python_script
      path: script.py
platforms:
  - type: docker
    image: ghcr.io/openproblems-bio/base_python:1.0.1
  - type: nextflow
    directives:
      label: [ "midtime", lowmem, lowcpu ]
