__merge__: ../../api/comp_control_method.yaml
functionality:
  name: "random_features"
  info:
    label: Random Features
    summary: "Negative control by randomly embedding into a 2D space."
    description: "This method serves as a negative control, where the data is randomly embedded into a two-dimensional space, with no attempt to preserve the original structure."
    v1:
      path: openproblems/tasks/dimensionality_reduction/methods/baseline.py
      commit: 80b37e7a6aa27df4436f400397564c01276817e0
    preferred_normalization: counts
    variants:
      random_features:
  resources:
    - type: python_script
      path: script.py
platforms:
  - type: docker
    image: ghcr.io/openproblems-bio/base_python:1.0.4
  - type: nextflow
    directives: 
      label: [midtime, highmem, highcpu]